{% extends "base.html" %}

{% block title %}Equipements{% endblock title %}

{% block content %}











<!--
					The ID "widget-grid" will start to initialize all widgets below
					You do not need to use widgets if you dont want to. Simply remove
					the <section></section> and you can use wells or panels instead
					-->

				<!-- widget grid -->
				<section id="widget-grid" class="">




						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


						<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header><span class="widget-icon"> <i class="fa fa-fw fa-desktop"></i> </span>
									<h2>Liste des Equipements </h2>
								</header>

								<!-- widget div-->
								<div >

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

										<table id="datatable_fixed_column" class="table table-striped table-bordered dataTable no-footer" width="100%" >

											<thead>
												<tr role="row">
													<th class="hasinput" style="width:10%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:15%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:15%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:10%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:10%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:10%" rowspan="1" colspan="1">
															<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:15%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th class="hasinput" style="width:10%" rowspan="1" colspan="1">
														<input type="text" class="form-control" placeholder="Filter ">
													</th>
													<th></th>

												</tr>
												<tr role="row">
																	<th data-hide="phone" style="width:10%">Equipement</th>
																	<th data-class="expand" style="width:15%">Reference</th>
																	<th style="width:15%">Numéro de série</th>
																	<th data-hide="phone" style="width:5%">Usage</th>
																	<th data-hide="phone,tablet" style="width:10%">Address Ip</th>
																	<th data-hide="phone,tablet" style="width:10%">Address MAC</th>
																	<th data-hide="phone,tablet" style="width:15%">Armoire</th>
																	<th data-hide="phone,tablet" style="width:10%">Etat Equipement</th>
																	<th data-hide="phone,tablet"></th>
												</thead>

											<tbody>
													{% for Materiel in liste_materiel %}
													<tr>
														<td>{{Materiel.type_equipement}}</td>
														<td>{{Materiel.reference}}</td>
														<td>{{Materiel.n_serie}}</td>
														<td>{{Materiel.usage}}</td>
														<td>{{Materiel.ip}}</td>
														<td>{{Materiel.mac}}</td>
														<td>{{Materiel.armoire}}</td>
														<td>{{Materiel.etat_equipement}}</td>
														<td style="text-align:center;"><a href="{{ HTTP_HOST }}/admin/Reseaux/equipement/{{Materiel.id}}/change/" ><span class="fa fa-lg fa-wrench" style="cursor:pointer"></span></a></td>
													</tr>
													{% endfor %}
											</tbody>

										</table>
									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>

					</article>
					<!-- WIDGET END -->


<!-- end row -->



</section>
<!-- end widget grid -->


{% endblock content %}
